@font-face {
    font-family: 'Gidole-Regular';
    src: url(./fonts/Gidole-Regular.ttf);
}

/**
*  Couleur primaire : #40b0ff
*/

* {
    margin: 0;
}

html {
    font-size: 18px;
}

body {
    background-color: #ecf7ff;
    text-align: justify;
    align-content: center;

    width: 95vw;

    font-family: 'Gidole-Regular', sans-serif;
}


.header-nav {
    border-bottom: 2px solid black;
    align-content: center;
    height: 7vw;
}

.main-title {
    font-size: 4vw;
    margin: 2vw;
}

.medium-title {
    font-size: 3vw;
    margin: 2vw;
}

.little-title {
    font-size: 2vw;
    margin: 2vw;
}

.nav-list {
    margin-top: 1vw;
    list-style-type: none;

    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-list-element {
    border: 2px solid #a0d8ff;
    border-radius: 5px;
    margin-right: 10vw;
    text-align: center;
    background-color: #40b0ff;
}

.nav-list-element:hover {
    background-color: #338dcc;
}

q {
    font-style: italic;
}

footer {
    margin-top: 2vw;
    border-top: 2px solid black;
    text-align: center;
}